<div class="message_wrap"><button class="delete"><span class="icon">&#10060;</span></button>
<time datetime="<%= date %>"><%= newDate.year %>.<%= newDate.month %>.<%= newDate.day %><span class="time"><%= newDate.hour %>:<%= newDate.minute %></span></time>
<p class="message"><%= message %></p>
<textarea class="edit_form"><%= form_message %></textarea></div>